#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.read-the-docs {
  color: #888;
}
